<div class="row">
  <div class ="col-md-9">
    <h1> Bustler! </h1>
    <h3> Click on image to view story</h3>
  </div> 

 <div class ="col-md-1">
     {{#if shareDisplayed}}
     <p><span class = "share" {{action 'hideShare'}}>Share</span></p> 
        <p> Chacebook </p>
        <p> Switter </p>
    {{else}}
     <p><span class = "share" {{action 'showShare'}}>Share</span></p>    
     {{/if}}
  </div>

  <div class ="col-md-2">
    <p>Sing</p>
  </div> 
</div>

  <div class="row">
    <div class="col-md-3">
      {{#link-to 'story_details1'}}<h3> Donald Duck! </h3>
      <p><img 
      src="http://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Spirit_43_-_Scrooge_-_Oncle_Picsou_-_Garrepa.JPG/194px-Spirit_43_-_Scrooge_-_Oncle_Picsou_-_Garrepa.JPG"
      alt="Satellite Photo"></p>{{/link-to}}
    </div>

    <div class="col-md-3">
     {{#link-to 'story_details2'}}<h3> Walt! </h3>
      <p><img 
      src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Walt_Disney_Snow_white_1937_trailer_screenshot_%2812%29.jpg/181px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2812%29.jpg"
      alt="Satellite Photo"></p>{{/link-to}}
    </div>

    <div class="col-md-3">
      {{#link-to 'story_details1'}} <h3> Look to the Skies! </h3>
      <p><img 
      src="http://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Superraton.jpg/218px-Superraton.jpg"
      alt="Satellite Photo"></p>{{/link-to}}
    </div>

    <div class="col-md-3">
      {{#link-to 'story_details2'}}<h3> Woody! </h3>
      <p><img 
      src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/20/WoodyWoodpecker-PantryPanic1.png/193px-WoodyWoodpecker-PantryPanic1.png"></p>{{/link-to}}
    </div>
  </div>

